.container {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contacts-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0.8em;
  border-radius: 7px;
  background-color: #f4deb3;
}
.img-container {
  flex-basis: 30%;
}
.data-container {
  flex-grow: 1;
}
.contact-photo {
  border-radius: 50%;
  max-width: 7em;
}

.contact-name,
.contact-phone,
.contact-email {
  margin: 0.8em 0;
}
